body {
  width: 100%;
  height: 100vh;
  font-family: 'VT323', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222831;
}

h1 
{
  text-align: center;
  color: white;
}
